cycler==0.10.0
decorator==4.4.2
kiwisolver==1.2.0
matplotlib==3.2.2
mpmath==1.1.0
mysqlclient==2.0.1
networkx==2.4
numpy==1.19.0
pandas==1.0.5
powerlaw==1.4.6
pygraphviz==1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.0
seaborn==0.10.1
six==1.15.0
